<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="medeil">
  <test  name="Test" parallel="classes" >
    <classes>
      <class name="MedeilLogin.Login"/>
      <class name="MedeilLogin.CustomerRegister"/>
      <class name="MedeilLogin.Sales"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
